h1{
    font-size: 50px;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
#color{
    color: orange;
}
.fst{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.fst img{
    width: 100%;
}
.fats{
    background-image: url("images/top-banner.png");
   background-repeat: no-repeat;
    
}
section{
    height: 500px;
}
body{
    margin: 0px;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,salmon, tomato);
    font-weight: 700;
    border-radius: 5px;
}